-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get do
  Include: 
  - @all_ratings.each do |rating|
    = rating
    - if @selected_keys.nil?
      = check_box_tag "ratings[#{rating}]"
    - else
      = check_box_tag "ratings[#{rating}]", '1', if @selected_keys.include?(rating) then true else nil end
  = submit_tag 'Refresh', :id => "ratings_submit"

%table#movies
  %thead
    %tr
      - if (@sort_column == :title)
        %th.hilite= link_to 'Movie Title', movies_path(:sort_column => "title", :ratings => @ratings), :id => "title_header"
      - else
        %th= link_to 'Movie Title', movies_path(:sort_column => "title", :ratings => @ratings), :id => "title_header"
      %th Rating
      - if (@sort_column == :release_date)
        %th.hilite= link_to 'Release Date', movies_path(:sort_column => "release_date", :ratings => @ratings), :id => "release_date_header"
      - else
        %th= link_to 'Release Date', movies_path(:sort_column => "release_date", :ratings => @ratings), :id => "release_date_header"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
